name: budget_dashboard
description: Demo de dashboard de presupuesto
publish_to: "none"
version: 1.0.0+1
environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/pizza.jpg
    - assets/icons/tv.webp
    - assets/icons/profile.jpg
    - assets/icons/health.jpg
